body {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    margin: 0; 
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: -30px;
}

